/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color: var(--bg-color, #FFF1F7);
  background-image: var(--bg-image, url(../images/cover-image-light.png));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--main-text-color, #353430);
  inline-size: 100%;
  block-size: 100%;

}
.header {
  position: relative;
  block-size: 100vh;
  inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  padding: 10px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--border-color, #353430);
  border-inline-end: 1px solid var(--border-color, #353430);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--border-color, #353430);
  border-inline-start: 1px solid var(--border-color, #353430);
  bottom: 10px;
  left: 10px;
}

.decorated-text{
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color, #FF8DCB);
  text-transform: uppercase;
}

.decorated-text::after {
  content: '';
  display: inline-block;
  background-color: var(--accent-color, #FF8DCB);
  box-shadow: 0 0 4px 2px var(--accent-color, #FF8DCB);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  margin-inline: 9px;
  margin-block-end: 2px;
}

.header__theme-menu {
  justify-self: end;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  color: var(--botton-color, #353430);
  background-color: transparent;
  border: none;
  line-height: 100%;
  text-transform: lowercase;
  padding: 3px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--border-botton-color, rgba(50, 49, 45, 0.40));
  padding: 3px 13px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--botton-color, #353430);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--botton-color, #353430);
  pointer-events: none;
}

.title {
  color: var(--title-color, #FFC2E6);
  font-weight: 700;
  line-height: 82.5%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__title {
  text-shadow: 4px 4px 0 var(--title-shadow-color, #FF8DCB);
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.title-decor {
  background-color: var(--accent-color, #FF8DCB);
  color: var(--title-decor, #353430);
  font-size: 18px;
}

.header__subtitle {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  font-weight: 700;
}

.main {
  display: grid;
  row-gap: 50px;
  padding: 0 10px;
}

.container {
  display: grid;
  gap: 20px;
}

.container-title {
  color: var(--subtitle-color, #353430);
  font-size: 18px;
}

.container__card {
  display: grid;
  gap: 10px;
}

.title-decor-weight {
  font-weight: 400;
}

.container-how__card {
  display: grid;
  gap: 20px;
}

.container__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--link-color, #FF8DCB);
}

.container__link:hover {
  border-block-end: 1px solid var(--main-text-color, #353430);
}

.container__link:focus {
  outline: none;
}

.container__link:focus-visible {
  outline: 1px solid var(--main-text-color, #353430);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__container {
  display: grid;
  gap: 10px;
}

.footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer__title {
  justify-self: center;
  text-shadow: 2px 2px 0 var(--title-shadow-color, #FF8DCB);
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .header {
    padding: 20px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-text{
    top: 20px;
    right: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__subtitle {
    grid-column: 2 / 3;
  }

  .main {
    padding: 0 20px;
    gap: 80px;
  }

  .container-why {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .container-why__card {
    grid-column: 2 / 4;
  }

  .container-what {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-what__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .container-what__card {
    grid-column: 1 / -1;
  }

  .container-how {
    grid-template-columns: 1fr 2fr;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .picture-sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .picture-ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .picture-tape {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }

  .picture-books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .picture-street {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    text-shadow: 4px 4px 0 #FF0070;
  }

  .container-what__card {
    display: flex;
    flex-direction: column;
  }

  .container-what__card:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .container-what__card:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .container-what__card:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .footer__title {
    text-shadow: 2px 2px 0 #FF0070;
  }
}